@font-face {
  font-family: 'Proxima Nova bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#svgFontName') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova regular';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open sans light';
  src: url('../fonts/OpenSans-Light.eot');
  src: url('../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Light.woff2') format('woff2'), url('../fonts/OpenSans-Light.woff') format('woff'), url('../fonts/OpenSans-Light.ttf') format('truetype'), url('../fonts/OpenSans-Light.svg#svgFontName') format('svg');
  font-weight: 300;
  font-style: normal;
}
section.features .feature-slider {
  margin-top: 5.6rem;
}
section.features .feature-block {
  padding-right: 1rem;
  padding-left: 1rem;
  text-align: center;
}
section.features .feature-block h3 {
  font-size: 2rem;
  margin-bottom: 3rem;
  font-family: "Proxima Nova bold", sans-serif;
}
section.features .feature-block p {
  font-size: 1.6rem;
  display: inline-block;
  width: 80%;
}
section.features .feature-block a {
  color: #4aa223;
}
section.features .feature-img-box {
  margin-bottom: 6rem;
}
section.features .feature-img-box img {
  margin: 0 auto;
  height: 9rem;
}
@media (max-width: 991.98px) {
  .feature-slider {
    width: calc(100% - 3rem);
    left: 1.5rem;
  }
}
.slick-slider .slick-slide {
  outline: none;
}
.slick-slider .slick-btn {
  display: block;
  width: 2rem;
  height: 100%;
  z-index: 99;
}
.slick-slider .slick-btn::before {
  content: "";
}
.slick-slider .slick-btn.slick-prev {
  left: 0;
  background: url('../img/slider/prev.svg') center no-repeat;
  background-size: 80%;
}
.slick-slider .slick-btn.slick-next {
  right: 0;
  background: url('../img/slider/next.svg') center no-repeat;
  background-size: 80%;
}
.header {
  margin-top: 1rem;
  margin-bottom: 7rem;
  height: 7rem;
}
.header .phone-link {
  display: inline-block;
  font-family: "Proxima Nova bold", sans-serif;
  font-size: 2rem;
  line-height: 7rem;
  height: 7rem;
  color: #292929;
}
.header .wrap {
  width: 100%;
  display: table;
  height: 7rem;
}
.header .wrap-block {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
.header .btn-header {
  height: 5rem;
  padding: 0 3rem;
}
.main {
  padding-top: 1.5rem;
  padding-bottom: 10rem;
  background: #ffffff url("../img/main-background.jpg") center center no-repeat;
  background-size: cover;
}
.main-title h1 {
  font-family: "Proxima Nova bold", sans-serif;
  margin-bottom: 5rem;
  font-size: 4rem;
  text-transform: uppercase;
  line-height: 1.45;
}
.main-subtitle {
  margin-bottom: 6rem;
  font-size: 2.4rem;
  line-height: 1.2;
  color: #292929;
}
.main span.min-price {
  display: inline-block;
  padding: 2rem 4rem;
  margin-bottom: 4rem;
  font-size: 1.8rem;
  text-align: center;
  background-color: #70c849;
  color: #fcfcfc;
}
.main span.min-price strong {
  font-family: "Proxima Nova bold", sans-serif;
  font-size: 3rem;
}
.main-trigger {
  display: block;
  font-family: "Proxima Nova bold", sans-serif;
  font-size: 2.2rem;
  text-transform: uppercase;
}
.main-form h2 strong {
  font-family: "Proxima Nova bold", sans-serif;
  font-size: 1.9rem;
}
.main-form small {
  display: inline-block;
  margin-top: 1.5rem;
  text-align: center;
  font-size: 1.2rem;
}
.main-form-note {
  display: inline-block;
  margin-top: 3.5rem;
  margin-left: 3rem;
  font-size: 1.2rem;
  text-align: left;
}
@media (max-width: 991.98px) {
  .header {
    height: auto;
    margin-bottom: 3rem;
    text-align: center;
  }
  .header .wrap-block {
    text-align: center;
  }
  section {
    padding-top: 5rem;
  }
  .main {
    background-position: left top;
    padding-bottom: 3.5rem;
  }
  .main-title {
    text-align: center;
  }
  .main-title h1 {
    font-size: 3.0rem;
    margin-bottom: 3rem;
  }
  .main-subtitle {
    font-size: 2.2rem;
    margin-bottom: 3rem;
  }
  .main span.min-price {
    margin-bottom: 2.5rem;
  }
  .main-trigger {
    font-size: 1.9rem;
    margin-bottom: 2.5rem;
  }
  .main-form {
    margin-bottom: 2.3rem;
  }
  .main-form-note {
    display: inline-block;
    margin: 0;
    text-align: left;
  }
  .main-form-note-container {
    text-align: center;
  }
}
@media (max-width: 767.98px) {
  .header {
    height: 12.4rem;
    margin-bottom: 3rem;
    text-align: center;
    background-color: #fff;
  }
  .header .phone-link {
    font-size: 1.4rem;
    line-height: 6.2rem;
    height: 6.2rem;
  }
  .header .wrap {
    height: 6.2rem;
  }
  .header .wrap-block {
    text-align: center;
  }
  .header .btn-header {
    height: 3.6rem;
  }
  .header .btn-header span {
    display: none;
  }
  .header .btn-header::after {
    content: "консультация";
  }
  .main-title {
    text-align: center;
  }
  .main-title h1 {
    font-size: 2.2rem;
  }
  .main-title-subtitle {
    font-size: 1.8rem;
  }
}
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-close-btn {
  border: none;
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 0rem;
  right: -4rem;
  background: url('../img/close.svg') no-repeat center;
  background-size: contain;
  background-color: transparent;
  color: #ffffff;
}
.popup-window {
  position: fixed;
  width: 35rem;
  top: 20rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.popup .popup-form {
  padding: 3.4rem 5rem 5rem;
}
.popup .popup-form h4 {
  font-family: "Proxima Nova bold", sans-serif;
  margin-bottom: 0;
  font-size: 1.8rem;
}
.popup .popup-form p {
  font-size: 1.8rem;
  margin-bottom: 4rem;
}
body.popup-opened {
  overflow: hidden;
}
@media (max-width: 991.98px) {
  .popup-window {
    position: fixed;
    width: calc(100% - 10rem);
    max-width: 35rem;
    top: 20rem;
    left: 50%;
    top: 2rem;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
.form {
  padding: 5rem 4.5rem;
  background-color: #ffffff;
  text-align: center;
}
.form h2 {
  margin-bottom: 4rem;
  font-size: 1.8rem;
}
.form input,
.form textarea {
  display: block;
  padding: 1rem;
  height: 5rem;
  width: 100%;
  margin-bottom: 2.5rem;
  border-radius: 0.5rem;
  border: 1px solid #dddddd;
  font-size: 1.5rem;
}
.form textarea {
  height: initial;
}
.form label {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  padding: 0 1rem;
  font-size: 1.3rem;
  color: #565656;
  background-color: #ffffff;
}
.form .button {
  width: 100%;
  font-size: 1.6rem;
  height: 6.5rem;
}
html {
  font-size: 10px;
}
body {
  font-family: "Proxima Nova regular", sans-serif;
}
input:focus,
button:focus,
textarea:focus {
  outline: none;
}
a:hover {
  text-decoration: none;
}
.button {
  border-style: solid;
  border-width: 1px;
  border-radius: 0.8rem;
  border-color: #fcb303;
  cursor: pointer;
  background: -webkit-gradient(linear, left bottom, left top, from(#f5ad00), to(#ffb504));
  background: -webkit-linear-gradient(bottom, #f5ad00 0%, #ffb504 100%);
  background: -o-linear-gradient(bottom, #f5ad00 0%, #ffb504 100%);
  background: linear-gradient(0deg, #f5ad00 0%, #ffb504 100%);
  -webkit-box-shadow: 4px 7px 13px 0px rgba(0, 0, 0, 0.04);
  box-shadow: 4px 7px 13px 0px rgba(0, 0, 0, 0.04);
  color: #ffffff;
  font-size: 1.2rem;
  text-transform: uppercase;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.button:hover {
  color: #f2f2f2;
  background: -webkit-gradient(linear, left bottom, left top, from(#dc9b00), to(#eaa500));
  background: -webkit-linear-gradient(bottom, #dc9b00 0%, #eaa500 100%);
  background: -o-linear-gradient(bottom, #dc9b00 0%, #eaa500 100%);
  background: linear-gradient(0deg, #dc9b00 0%, #eaa500 100%);
}
section {
  text-align: center;
  padding-top: 10rem;
}
section .section-header {
  font-size: 3.6rem;
  font-family: "Proxima Nova bold", sans-serif;
}
@media (max-width: 991.98px) {
  section {
    padding-top: 5rem;
  }
}

/*# sourceMappingURL=style.css.map */